<div class="namespace_event_2012_girls_vote">

	<div class="girls_topin"></div>

	<div class="girls_banner" id="girls_banner">
		<div id="item" class="item current"><img src="/static/img/event/girls_vote_2012/dgirl-b.jpg" alt=""></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-intel.swf'
		] )}</div>
		<div id="item" class="item"><a href="http://www.intel.com.tw/content/www/tw/zh/processors/core/core-i7-processor.html"><img src="/static/file/event/girls_vote_2012/intel2.jpg" alt=""></a></div>
		<div id="item" class="item"><img src="/static/file/event/girls_vote_2012/960x400-msi.jpg" alt=""></div>
		<div id="item" class="item"><a target="_blank" href="http://www.roccat.org/savu"><img src="/static/file/event/girls_vote_2012/ROCCAT-SAVU_958x400.jpg" alt=""></a></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-asrock.swf'
		] )}</div>
		<div id="item" class="item"><a href="http://www.thermaltake.com.tw/" target="_blank"><img src="/static/img/event/girls_vote_2012/960x400-tt-banner.jpg" alt=""></a></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/120725_958x400.swf'
		] )}</div>
	</div>

	<div class="girls_sponsor">
		<img src="/static/img/event/girls_vote_2012/girls_sponsor.jpg" alt="">
	</div>
		
	<div class="girls_vote_info">
		<font size="5">第三階段，性感系投票贈品活動：</font><br />
		<br />
		<font size="7">尚在規劃中，請密切關注本網頁！</font>
	</div>

	<div class="girls_vote_progress">
		<div id="the_rule" class="the_rule">
			<div class="hide" id="template">{include file='./partial/rule.html'}</div>
		</div>
	</div>

	<div class="girl_sort">
		<a href="/event/2012-girls-vote/page/1/desc" class="">
			<img src="/static/img/event/girls_vote_2012/total_get_desc.jpg" alt="">
		</a>
	</div>

	<div class="girls_page_nav">
		<a href="/event/2012-girls-vote/page/1/{$CI->uri->segment(5)}" class="btn btn-large btn-primary">1</a>
		<a href="/event/2012-girls-vote/page/2/{$CI->uri->segment(5)}" class="btn btn-large btn-primary">2</a>
	</div>

	<div class="girls_intro">{include file='./partial/girls.html'}</div>

	<div class="girls_page_nav">
		<a href="/event/2012-girls-vote/page/1/{$CI->uri->segment(5)}" class="btn btn-large btn-primary">1</a>
		<a href="/event/2012-girls-vote/page/2/{$CI->uri->segment(5)}" class="btn btn-large btn-primary">2</a>
	</div>
</div>