<div class="namespace_event_2012_girls_vote">

	<div class="girls_topin"></div>

	<div class="girls_banner" id="girls_banner">
		<div id="item" class="item current"><img src="/static/img/event/girls_vote_2012/dgirl-b.jpg" alt=""></div>
		<div id="item" class="item"><a target="_blank" href="http://www.roccat.org/savu"><img src="/static/file/event/girls_vote_2012/ROCCAT-SAVU_958x400.jpg" alt=""></a></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-intel.swf'
		] )}</div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-asrock-1.swf'
		] )}</div>
		<div id="item" class="item"><a href="http://www.thermaltake.com.tw/" target="_blank"><img src="/static/img/event/girls_vote_2012/960x400-tt-banner.jpg" alt=""></a></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-asrock-2.swf'
		] )}</div>
	</div>

	<div class="girls_sponsor">
		<img src="/static/img/event/girls_vote_2012/girls_sponsor.jpg" alt="">
	</div>

	<div class="girls_vote_info">
		投票須知：<br />
		<br />
		1、D-Girl票選活動將在每階段抽出XXX名投票者贈送XXX，得獎後以Email通知，請正確填寫Email以免喪失權益。<br />
		2、於活動期間，每階段，每個暗盟論壇帳號可投票一次，投票後無法更改。<br />
		3、如投票者有下列情形，主辦單位得取消其投票票數與抽獎資格。<br />
		　　投票者利用電腦、網路之漏洞進行攻擊投票程式、登入認證、侵入資料庫、改封包，及其同IP大量灌票等行為。<br />
	</div>

	<div class="girls_vote_progress">
		<div id="the_rule" class="the_rule">
			<div class="hide" id="template">{include file='./partial/rule.html'}</div>
		</div>
	</div>

	<div class="girls_page_nav">
		<a href="/event/2012-girls-vote" class="btn btn-large btn-primary">1</a>
		<a href="/event/2012-girls-vote/page/2" class="btn btn-large btn-primary">2</a>
	</div>

	<div class="girls_intro">{include file='./partial/girls.html'}</div>

	<div class="girls_page_nav">
		<a href="/event/2012-girls-vote" class="btn btn-large btn-primary">1</a>
		<a href="/event/2012-girls-vote/page/2" class="btn btn-large btn-primary">2</a>
	</div>
</div>