<div class="namespace_event_2012_girls_vote">

	<div class="girls_topin"></div>

	<div class="girls_banner" id="girls_banner">
		<div id="item" class="item current"><img src="/static/img/event/girls_vote_2012/dgirl-b.jpg" alt=""></div>
		<div id="item" class="item"><a href="http://www.thermaltake.com.tw/" target="_blank"><img src="/static/img/event/girls_vote_2012/960x400-tt-banner.jpg" alt=""></a></div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-asrock-1.swf'
		] )}</div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-intel.swf'
		] )}</div>
		<div id="item" class="item">{$CI->media->embed_flash( [
			'height' => '400',
			'src' => '/static/file/event/girls_vote_2012/960x400-asrock-2.swf'
		] )}</div>
	</div>

	<div class="girls_sponsor">
		<img src="/static/img/event/girls_vote_2012/girls_sponsor.jpg" alt="">
	</div>

	<div class="girls_vote_progress">
		<div id="the_rule" class="the_rule">
			<div class="hide" id="template">{include file='./partial/rule.html'}</div>
		</div>
	</div>

	<div class="girls_intro">{include file='./partial/girls.html'}</div>
</div>