<div class="namespace_hardware">
	
	<div class="header">
		{include file='./partial/circle_news.html'}
		{include file='./partial/news_class.html'}
		
		<div class="search">
			{$CI->discuzx->search_in_bbs( [
				'srchfid' => ['44','45','46','47']
			] )}
		</div>
	</div>

	<div class="body">
		<div class="menu">
			{foreach $flows_title as $key => $title}
				<a href="#{$key}" class="flows-title">{$title}</a>
			{/foreach}
		</div>

		{foreach $flows as $key => $flow}
			<div class="class_news_flow">
				<div class="line"></div>
				<div class="header">
					<a name="{$key}"></a>
					<span class="flows-title">{$flows_title[$key]}</span>
					<div class="hardware_AD">
						{foreach $ads["`$key`_ads"] as $index => $data}
							{if $data['type'] === 'img'}
								<a class="single" target="_blank" href="{$data['link']}"><img src="{$data['path']}" alt=""></a>
							{elseif $data['type'] === 'flash'}
								
							{/if}
						{/foreach}
					</div>
				</div>
				<div class="body">
				{foreach $flow as $index => $data}
					<div class="item">
						<div class="img"><img class="thumb" src="{$data['path']}" alt="" /></div>
						<div class="text">
							<div class="title"><a target="_blank" href="{$data['link']}">{$data['title']}</a></div>
							<div class="thumb">{$data['descr']}</div>
						</div>
					</div>
				{/foreach}
				</div>
			</div>
		{/foreach}
	</div>

</div>