<div class="girl_detail_info" id="girl_detail_info">
	<div class="inner_border">
		<!-- 關閉按鈕 -->
		<div class="detail_close" id="detail_close"></div>
		<div class="g_clear"></div>
		<!-- 投票 -->
		<div class="vote_it">
			<img src="/static/img/event/girls_vote_2012/vote_it.png" alt="" id="vote_she" data-vote-name="{$girl_nickname}">
			{if ! $CI->user->is_login()}<a target="_blank" href="http://d3clan.tw/bbs/member.php?mod=logging&action=login" class="btn btn-danger">點我註冊登入<br />或透過FB登入</a>{/if}
		</div>

		<p></p>

		<!-- 照片集 -->
		<div class="detail_photos">
			<img src="/static/img/event/girls_vote_2012/left.png" class="btn_left_click" alt="" id="btn_left_click">
			<!-- 顯示照片 -->
			{foreach $polls_name as $poll_index => $poll_name}
				{foreach $girl['photos'][$poll_index] as $index => $photo_url}
					{*還未開選的系別不放照片*}
					{if $poll_index <= $active_poll}
					<div class="twinned {if $photo_url@first && $poll_index == $active_poll}first{/if}" id="twinned">
						<a href="{$photo_url}" target="_blank">
							<div class="label label-warning">{$poll_name}系</div>
							<img src="{$girl['photos'][$poll_index][$index]}" alt="">
						</a>
					</div>
					{/if}
				{/foreach}
			{/foreach}
			<img src="/static/img/event/girls_vote_2012/right.png" class="btn_right_click" alt="" id="btn_right_click">
		</div>

		<!-- 詳細資料 -->
		<div class="detail_info">
			<div class="inner">
				<div class="info">{include file='./girl_personal.html'}</div>
				<div class="vote_amount">
					{foreach $polls_name as $index => $val}
					<div class="kind_polls"><span>{$val}</span>
						<div class="progress"><div class="bar" style="width: {$girl['polls'][$index]/13}%; max-width: 100%;"></div></div>
						<span>{$girl['polls'][$index]|default:0}</span>
					</div>
					{/foreach}

					<div class="kind_polls"><span>總票</span>
						<div class="progress progress-info"><div class="bar" style="width: {$girl['total_votes']/(3*2)}%; max-width: 100%;"></div></div>
						<span>{$girl['total_votes']|default:0}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- 自我介紹 -->
		<div class="detail_intro">
			<h3 class="label">自我介紹</h3>
			{$girl['intro']}
		</div>

		<!-- 遊戲心得 -->
		<div class="detail_intro">
			<h3 class="label">遊戲心得</h3>
			{$girl['opinion']}
		</div>

		<!-- 影片 -->
		<div class="detail_video">
			{if $girl['video']}
				<iframe width="640" height="480" src="http://www.youtube.com/embed/{$girl['video']}" frameborder="0" allowfullscreen></iframe>
			{/if}
		</div>

		<!-- 投票 -->
		<div class="vote_it">
			<img src="/static/img/event/girls_vote_2012/vote_it.png" alt="" id="vote_she" data-vote-name="{$girl_nickname}">
			{if ! $CI->user->is_login()}<a target="_blank" href="http://d3clan.tw/bbs/member.php?mod=logging&action=login" class="btn btn-danger">點我註冊登入<br />或透過FB登入</a>{/if}
		</div>
	</div>
	<!-- 下框 -->
	<div class="bottom_border"></div>
</div>