<div class="girl_personal">
	<div class="txt_row">
		<span class="descr">暱稱:</span>
		<span class="value">{$girl['text_fields']['nickname']}</span>
	</div>
	<div class="txt_row">
		<span class="descr">生日:</span>
		<span class="value">{$girl['text_fields']['birthday']}</span>
	</div>
	<div class="txt_row">
		<span class="descr">伺服器:</span>
		<span class="value">{$girl['text_fields']['server']}</span>
	</div>
	<div class="txt_row">
		<span class="descr">居住城市:</span>
		<span class="value">{$girl['text_fields']['city']}</span>
	</div>
	<div class="txt_row">
		<span class="descr">人物等級:</span>
		<span class="value">{$girl['text_fields']['role_level']}</span>
	</div>
	<div class="txt_row">
		<span class="descr">角色職業:</span>
		<span class="value">{$girl['text_fields']['class']}</span>
	</div>
</div>