<div align="left"> <font face="標楷體, cursive"><font size="6">
			<font style="font-size:28pt"><i><strong>D-Girl</strong></i></font> </font> 
	</font>
	<font face="標楷體, cursive">
		<font size="6">
			<font style="font-size:28pt"> <i><strong>選拔活動資訊</strong></i> 
			</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="6">
			<font style="font-size:28pt">
				<i>
					<strong>&amp;</strong>
				</i>
			</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="6">
			<font style="font-size:28pt">
				<i>
					<strong>賽事獎勵</strong>
				</i>
			</font>
		</font>
	</font>
</div>
<div align="left"> <u><font face="標楷體, cursive">
			<font size="4">
				<strong>活動宗旨</strong>
			</font>
		</font></u> 
</div>
<div align="left">
	<font face="標楷體, cursive">《暗黑破壞神</font>
	<font face="標楷體, cursive">III</font>
	<font face="標楷體, cursive">》為</font>
	<font face="標楷體, cursive">2012</font>
	<font face="標楷體, cursive">年全世界最熱賣的</font>
	<font face="標楷體, cursive">PCGame</font>
	<font face="標楷體, cursive">，上市不到十天全球銷量就突破</font>
	<font face="標楷體, cursive">630</font>
	<font face="標楷體, cursive">萬套，打破多項紀錄，而其流暢簡單的操作方式也吸引了大量的女玩家，藉由此次的暗黑美少女</font>
	<font face="標楷體, cursive">D-GIRL</font>
	<font face="標楷體, cursive">選拔賽不但可以有效開拓電玩女性市場，更能夠聚集男性玩家目光。</font>
</div>
<br>
<div align="left">
	<font face="標楷體, cursive">選拔過程中將分為網路票選、多元加分與廠商評選等三個階段，確保最後選拔出之優勝者在各個環節都有極佳表現。</font>
</div>
<br>
<div align="left">
	<font face="標楷體, cursive">遴選結束後將舉辦實體頒獎典禮，並現場與贊助廠商簽約，創造網路人氣討論與話題性。</font>
</div>
<br>
<div align="left"> <u><font face="標楷體, cursive">
			<font size="4">
				<strong>活動詳細時間</strong>
			</font>
		</font></u> 
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/07/19(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">四</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/07/27(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">五</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">) D-GIRL</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">美少女選拔活動開始報名</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/07/30(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">一</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/08/04(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">六</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)-</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">第一階段票選</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">(07/30(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">一</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">凌晨</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">00:00</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">開放投票</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/08/05(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">日</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/08/10(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">五</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)-</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">第二階段票選</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/08/11(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">六</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/08/16(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">四</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)-</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">第三階段票選</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/08/17(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">五</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/08/22(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">三</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)-</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">第四階段票選</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">(08/22(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">三</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">晚上</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">12</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">點結束投票</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/08/23(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">四</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)~2012/08/27(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">一</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">)-</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">廠商評選</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">&amp;</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">總分結算</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/08/28(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">二</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">) -</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">公布優勝者名單</font>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">2012/09/02(</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">日</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">) -</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">實體頒獎典禮</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">&amp;</font>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="2">
			<font style="font-size:11pt">簽約儀式</font>
		</font>
	</font>
</div>
<br>
<div align="left">
	<u>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>賽事獎勵</strong>
			</font>
		</font>
	</u>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<strong>冠軍</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>:</strong>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">新台幣五萬元整</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">獎品</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">贊助廠活動優先指定出席</font>
	<font face="標楷體, cursive">(</font>
	<font face="標楷體, cursive">半年期間</font>
	<font face="標楷體, cursive">)</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<strong>亞軍</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>:</strong>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">新台幣三萬元整</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">獎品</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">贊助廠活動優先指定出席</font>
	<font face="標楷體, cursive">(</font>
	<font face="標楷體, cursive">半年期間</font>
	<font face="標楷體, cursive">)</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<strong>季軍</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>:</strong>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">新台幣二萬元整</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">獎品</font>
	<font face="標楷體, cursive">+</font>
	<font face="標楷體, cursive">贊助廠活動優先指定出席</font>
	<font face="標楷體, cursive">(</font>
	<font face="標楷體, cursive">半年期間</font>
	<font face="標楷體, cursive">)</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<strong>備註</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>:</strong>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive"></font>
	<font face="標楷體, cursive">1</font>
	<font face="標楷體, cursive">、選秀得獎人將受邀參觀台灣暴雪總部</font>
</div>
<div align="left">
	<font face="標楷體, cursive"></font>
	<font face="標楷體, cursive">2</font>
	<font face="標楷體, cursive">、贊助廠商優先指定得獎人出席活動或產品代言與後續相關合作</font>
</div>
<br>
<div align="left">
	<u>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>報名參加資格：</strong>
			</font>
		</font>
	</u>
</div>
<div align="left">
	<font face="標楷體, cursive"></font>
	<font face="標楷體, cursive">1</font>
	<font face="標楷體, cursive">、《暗黑破壞神</font>
	<font face="標楷體, cursive">III</font>
	<font face="標楷體, cursive">》女性玩家，並至少一個角色等級達到</font>
	<font face="標楷體, cursive">40</font>
	<font face="標楷體, cursive">等以上</font>
	<font face="標楷體, cursive">(</font>
	<font face="標楷體, cursive">任一伺服器皆可</font>
	<font face="標楷體, cursive">)</font>
	<font face="標楷體, cursive">。</font>
</div>
<div align="left">
	<font face="標楷體, cursive"></font>
	<font face="標楷體, cursive">2</font>
	<font face="標楷體, cursive">、居住台灣，可參加實體頒獎典禮與後續合約活動。</font>
</div>
<br>
<div align="left">
	<u>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>報名方式：</strong>
			</font>
		</font>
	</u>
</div>
<div align="left">
	<font face="標楷體, cursive">下載報名表，將資料填寫完畢並附上照片、影片連結，確認後寄至</font>
</div>
<div align="left">
	<font face="標楷體, cursive">Email</font>
	<font face="標楷體, cursive">：</font>
	<font face="標楷體, cursive">
		<font color="#0000ff">
			<u>
				<a href="mailto:howareyou1129@hotmail.com" target="_blank">howareyou1129@hotmail.com</a>
			</u>
		</font>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">等候工作人員回復確認報名成功。</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<font size="4">
			<strong>&lt;</strong>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="4">
			<strong>下載《<a href="/static/file/event/girls_vote_2012/signup.doc">報名表 (doc格式)</a>》</strong>
		</font>
	</font>
	<font face="標楷體, cursive">
		<font size="4">
			<strong>&gt;</strong>
		</font>
	</font>
</div>
<div align="left">
	<u>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>活動日期：</strong>
			</font>
		</font>
	</u>
</div>
<div align="left">
	<font face="標楷體, cursive">報名時間：</font>
	<font face="標楷體, cursive">2012/07/19(</font>
	<font face="標楷體, cursive">四</font>
	<font face="標楷體, cursive">)</font>
	<font face="標楷體, cursive">至</font>
	<font face="標楷體, cursive">2012/07/27(</font>
	<font face="標楷體, cursive">五</font>
	<font face="標楷體, cursive">)</font>
	<font face="標楷體, cursive">晚上</font>
	<font face="標楷體, cursive">12</font>
	<font face="標楷體, cursive">點。</font>
</div>
<div align="left">
	<font face="標楷體, cursive">票選時間：</font>
	<font face="標楷體, cursive">2012/07/30(</font>
	<font face="標楷體, cursive">一</font>
	<font face="標楷體, cursive">)</font>
	<font face="標楷體, cursive">至</font>
	<font face="標楷體, cursive">2012/08/22(</font>
	<font face="標楷體, cursive">三</font>
	<font face="標楷體, cursive">)</font>
	<font face="標楷體, cursive">晚上</font>
	<font face="標楷體, cursive">12</font>
	<font face="標楷體, cursive">點。</font>
</div>
<br>
<div align="left">
	<u>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>評分標準</strong>
			</font>
		</font>
		<font face="標楷體, cursive">
			<font size="4">
				<strong>:</strong>
			</font>
		</font>
	</u>
</div>
<div align="left">
	<font face="標楷體, cursive">1</font>
	<font face="標楷體, cursive">、網路票選</font>
	<font face="標楷體, cursive">(64%):</font>
</div>
<div align="left">
	<font face="標楷體, cursive">
		<strong>暗盟論壇投票：</strong>
	</font>
</div>
<div align="left">
	<font face="標楷體, cursive">第一階段：氣質分數</font>
	<font face="標楷體, cursive">(5</font>
	<font face="標楷體, cursive">天票選時間</font>
	<font face="標楷體, cursive">)16%</font>
	<font face="標楷體, cursive">：</font>
</div>
<div align="left">
	<font face="標楷體, cursive">第二階段：萌系分數</font>
	<font face="標楷體, cursive">(5</font>
	<font face="標楷體, cursive">天票選時間</font>
	<font face="標楷體, cursive">)16%</font>
	<font face="標楷體, cursive">：</font>
</div>
<div align="left">
	<font face="標楷體, cursive">第三階段：性感分數</font>
	<font face="標楷體, cursive">(5</font>
	<font face="標楷體, cursive">天票選時間</font>
	<font face="標楷體, cursive">)16%</font>
	<font face="標楷體, cursive">：</font>
</div>
<div align="left">
	<font face="標楷體, cursive">第四階段：活潑分數</font>
	<font face="標楷體, cursive">(5</font>
	<font face="標楷體, cursive">天票選時間</font>
	<font face="標楷體, cursive">)16%</font>
	<font face="標楷體, cursive">：</font>
</div>
<br>
<div align="left">
	<font face="標楷體, cursive">
		<strong>2</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>、多元加分</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>(10%):(</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>二選一</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>)</strong>
	</font>
</div>
<div align="left">
	&nbsp; &nbsp;&nbsp;&nbsp;
	<font face="標楷體, cursive">A.</font>
	<font face="標楷體, cursive">錄製</font>
	<font face="標楷體, cursive">20</font>
	<font face="標楷體, cursive">秒以上之個人簡介影片</font>
	<font face="標楷體, cursive">
		<font color="#ff0000">(</font>
	</font>
	<font face="標楷體, cursive">
		<font color="#ff0000">暗盟將會後制影片開頭並上傳</font>
	</font>
	<font face="標楷體, cursive">
		<font color="#ff0000">)</font>
	</font>
</div>
<div align="left">
	&nbsp; &nbsp;
	<font face="標楷體, cursive">B.</font>
	<font face="標楷體, cursive">直播</font>
	<font face="標楷體, cursive">5</font>
	<font face="標楷體, cursive">
		分鐘以上之
		<strong>《暗黑破壞神</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>III</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>》</strong>
		遊戲直播
	</font>
	<font face="標楷體, cursive">(</font>
	<font face="標楷體, cursive">需有語音或視訊</font>
	<font face="標楷體, cursive">)</font>
</div>
<br>
<div align="left">
	<font face="標楷體, cursive">
		<strong>3</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>、廠商評選</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>(15%)</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>、暴雪評選</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>(6%):</strong>
	</font>
</div>
<div align="left">
	&nbsp; &nbsp;&nbsp; &nbsp;
	<font face="標楷體, cursive">由活動贊助商針對候選人之特質進行評分</font>
</div>
<br>
<div align="left">
	<font face="標楷體, cursive">
		<strong>4</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>、玩《暗黑破壞神</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>III</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>》的心得分享</strong>
	</font>
	<font face="標楷體, cursive">
		<strong>(5%):</strong>
	</font>
</div>
<div align="left">
	&nbsp; &nbsp;&nbsp; &nbsp;
	<font face="標楷體, cursive">有寫至少拿</font>
	<font face="標楷體, cursive">5</font>
	<font face="標楷體, cursive">分。</font>
</div>
<br>
下載 《<a href="/static/file/event/girls_vote_2012/signup.doc">報名表 (doc格式)</a>》，填妥報名表以電子郵件方式寄至 <a target="_blank" href="mailto:howareyou1129@hotmail.com" target="_blank">howareyou1129@hotmail.com</a>
<br>