D-Girl 選拔 活動資訊&amp;賽事獎勵<br>
<br>
活動宗旨<br>
<br>
　　《暗黑破壞神3》為2012年全世界最熱賣的PC Game，上市不到十天全球銷量就突破630萬套，打破多項紀錄，而其流暢簡單的操作方式也吸引了大量的女玩家，藉由此次的暗黑美少女D-GIRL選拔賽不但可以有效開拓電玩女性市場，更能夠聚集男性玩家目光。<br>
<br>
　　選拔過程中將分為網路票選、多元加分與廠商評選等三個階段，確保最後選拔出之優勝者在各個環節都有極佳表現。<br>
<br>
　　遴選結束後將舉辦實體頒獎典禮，並現場與贊助廠商簽約，創造網路人氣討論與話題性。<br>
<br>
活動詳細時間<br>
<br>
　2012/07/19(四)~ 2012/07/27(五)&nbsp;&nbsp;D-GIRL美少女選拔活動開始報名<br>
<br>
　2012/07/30(一)~ 2012/08/04(六) - 第一階段票選 (07/30(一)凌晨00:00開放投票)<br>
　2012/08/05(日)~ 2012/08/10(五) - 第二階段票選<br>
　2012/08/11(六)~ 2012/08/16(四) - 第三階段票選<br>
　2012/08/17(五)~ 2012/08/22(二) - 第四階段票選 (08/22(三)晚上12點結束投票)<br>
<br>
　2012/08/23(三)~ 2012/08/27(一) - 廠商評選&amp;總分結算<br>
<br>
　2012/08/28(二)&nbsp;&nbsp;- 公布優勝者名單<br>
<br>
　2012/09/02(日)&nbsp;&nbsp;- 實體頒獎典禮&amp;簽約儀式<br>
<br>
賽事獎勵<br>
<br>
　冠軍<br>
　　新台幣五萬元整+獎品+贊助廠活動優先指定出席 (半年期間)<br>
<br>
　亞軍<br>
　　新台幣三萬元整+獎品+贊助廠活動優先指定出席 (半年期間)<br>
<br>
　季軍<br>
　　新台幣二萬元整+獎品+贊助廠活動優先指定出席 (半年期間)<br>
<br>
　備註 : <br>
　　1、選秀得獎人將受邀參觀台灣暴雪總部<br>
　　2、贊助廠商優先指定得獎人出席活動或產品代言與後續相關合作<br>
<br>
報名參加資格：<br>
<br>
　1、《暗黑破壞神三》女性玩家，並至少一個角色等級達到40等以上(任一伺服器皆可)。<br>
　2、居住台灣，可參加實體頒獎典禮與後續合約活動。<br>
<br>
報名方式：<br>
<br>
　下載報名表，將資料填寫完畢並附上照片、影片連結，確認後寄至<br>
　Email：<a href="mailto:howareyou1129@hotmail.com" target="_blank">howareyou1129@hotmail.com</a>。等候工作人員回復確認報名成功。<br>
<br>
&lt;報名表下載&gt;&nbsp;&nbsp;<br>
<br>
活動日期：<br>
<br>
報名時間：2012/07/19(四)至2012/07/27(五) 晚上12點。<br>
票選時間：2012/07/30(一)至2012/08/22(三) 晚上12點。<br>
<br>
評分標準<br>
<br>
1、網路票選(64%):<br>
<br>
暗盟論壇投票：<br>
<br>
第一階段：氣質分數(5天票選時間 16%：<br>
第二階段：萌系分數(5天票選時間) 16%：<br>
第三階段：性感分數(5天票選時間) 16%：<br>
第四階段：活潑分數(5天票選時間) 16%：<br>
<br>
<br>
2、多元加分(10%): (二選一)<br>
&nbsp; &nbsp;&nbsp;&nbsp;A.錄製30秒以上之個人簡介影片 (暗盟將會後制影片開頭並上傳)<br>
&nbsp; &nbsp;&nbsp;&nbsp;B.直播5分鐘以上之D3遊戲直播(需有語音或視訊證明為本人)<br>
<br>
3、廠商評選(15%)、暴雪評選(6%):<br>
&nbsp; &nbsp;&nbsp; &nbsp;由活動贊助商針對候選人之特質進行評分<br>
<br>
4、玩暗黑破壞神的心得分享(5%):<br>
&nbsp; &nbsp;&nbsp; &nbsp;有寫至少拿5分。<br>
<br>
&lt;報名表&gt;<br>
<br>