.namespace_home .top_block {
  background-image: url('../../img/home/index/M1_BG.png');
  height: 321px;
  margin-bottom: 10px;
}
.namespace_home .top_block .circle_loop {
  width: 700px;
  float: left;
  padding-top: 16px;
  padding-left: 12px;
}
.namespace_home .top_block .recommend_videos {
  width: 240px;
  height: 300px;
  float: left;
}
.namespace_home .top_block .recommend_videos .inner {
  padding-top: 32px;
  padding-left: 7px;
}
.namespace_home .top_block .recommend_videos .inner .single {
  width: 108px;
  height: 125px;
  float: left;
}
.namespace_home .top_block .recommend_videos .inner .single .thumb_wrapper {
  text-align: center;
  vertical-align: top;
  height: 80px;
}
.namespace_home .top_block .recommend_videos .inner .single .thumb_wrapper .g_vod_play_icon_hover {
  background-position: -92px -150px;
  border: 1px solid #854F09;
}
.namespace_home .top_block .recommend_videos .inner .single .thumb_wrapper .thumb {
  background-position: 50%;
  display: inline-block;
  width: 95px;
  height: 75px;
  border-radius: 5px;
}
.namespace_home .top_block .recommend_videos .inner .single .subject_thumb {
  display: inline-block;
  vertical-align: top;
  padding-left: 9px;
}
.namespace_home .top_block .recommend_videos .inner .single .subject_thumb a {
  overflow: hidden;
  height: 35px;
  display: inline-block;
}
.namespace_home .top_block .recommend_videos .inner .more_link {
  display: block;
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
}
.namespace_home .middle_block .news_block {
  float: left;
}
.namespace_home .middle_block .news_block .caption {
  background-image: url('/static/img/common/layout/hr.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 57px;
  font-size: 30px;
  line-height: 57px;
  padding-left: 45px;
  font-style: italic;
}
.namespace_home .middle_block .news_block .inner {
  border: 1px solid #b07800;
  margin: 15px;
}
.namespace_home .middle_block .news_block .inner .sub_menu {
  padding: 0 15px;
  margin-top: -15px;
}
.namespace_home .middle_block .news_block .inner .sub_menu .sub_menu_btn {
  display: inline-block;
  background-image: url('../../img/home/index/M2-2.png');
  width: 106px;
  height: 31px;
  float: left;
  color: yellow;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}
.namespace_home .middle_block .news_block .inner .sub_menu .sub_menu_btn:hover {
  background-position: 0 -31px;
}
.namespace_home .middle_block .news_block .inner .sub_menu .sub_menu_btn.current {
  background-position: 0 -62px;
}
.namespace_home .middle_block .news_block .news_flows {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-height: 328px;
}
.namespace_home .middle_block .news_block .news_flows .g_loading {
  height: 328px;
}
.namespace_home .middle_block .news_block .news_flows .news_flow {
  display: none;
}
.namespace_home .middle_block .news_block .news_flows .news_flow .news_row {
  background-image: url('../../img/home/index/M3-2.png');
  display: block;
  padding-left: 35px;
  background-position: 0 2px;
  line-height: 30px;
}
.namespace_home .middle_block .news_block .news_flows .news_flow .news_row .thread_class {
  color: #9b9b9b;
}
.namespace_home .middle_block .news_block .news_flows .news_flow .news_row .thread_subject {
  color: white;
}
.namespace_home .middle_block .news_block .news_flows .news_flow .news_row:hover {
  background-color: #251111;
}
.namespace_home .middle_block .live_list_block {
  background-image: url("../../img/home/index/M3-1_01.png");
  float: left;
  width: 246px;
  height: 465px;
}
.namespace_home .middle_block .live_list_block .header {
  background-image: url("../../img/home/index/M3-1_02.png");
  height: 18px;
  margin-top: 30px;
}
.namespace_home .middle_block .live_list_block .body {
  padding-top: 17px;
  padding-left: 24px;
}
.namespace_home .middle_block .live_list_block .body .live_row {
  display: block;
  background-image: url('../../img/home/index/M3-2.png');
  background-position: 0 0;
  height: 29px;
  padding-left: 30px;
  line-height: 24px;
}
.namespace_home .middle_block .live_list_block .body .live_row.online {
  color: lime;
}
.namespace_home .middle_block .live_list_block .body .live_row.online .online_viewer {
  color: orange;
}
