<div class="circle_news" id="bb-circle_news">
	<div class="header">
		<div class="navi">
		{foreach $circle_news as $index => $entity}
			{if $entity@first}{$class = 'current'}{else}{$class = ''}{/if}
			<span id="menu_btn" class="item {$class}"></span>
		{/foreach}
		</div>
	</div>
	<div class="body">
		{foreach $circle_news as $index => $entity}
		{if $entity@first}{$class = 'current'}{else}{$class = ''}{/if}
		<div id="list_block" class="item {$class}">
			<img class="img" src="{$entity['img']}" alt="">
			<a class="title" href="{$entity['link']}">{$entity['title']}</a>
			<div class="descr">
				{$entity['descr']}
			</div>
		</div>
		{/foreach}
	</div>
</div>