<div class="news_class" id="bb-news_class">
	<div class="header">
		<span id="menu_btn" class="item current">硬體評測</span>
		<span id="menu_btn" class="item">新聞快遞</span>
		<span id="menu_btn" class="item">最新文章</span>
		<span id="menu_btn" class="item">硬體綜合</span>
	</div>
	<div class="body">
		{foreach $data as $index => $list}
			{if $list@first}{$class = 'current'}{else}{$class = ''}{/if}
			<div id="list_block" class="list {$class}">
				{foreach $list as $id => $news}
					<div class="link">
						<span class="thread_class">[{$news['name']}]</span>
						{$CI->discuzx->alink_to_bbs([
							'text'       => $news['subject'],
							'tid'        => $news['tid'],
							'class'      => 'thread_subject'
						])}
					</div>
				{/foreach}
			</div>
		{/foreach}
	</div>
	<div class="footer"></div>
</div>