@import '../instance';
@img: '/static/img/hardware/';

.namespace_hardware{
	.g_clear;

	>.header{
		.g_clear();
		>.circle_news{
			float: left;
			width: 534px;

			>.header{
				.navi{
					.g_hr();
					.item{
						.g_point();
						margin-bottom: -8px;
					}
				}
			}
			>.body{
				.item{
					display    : none;
					padding    : 0 15px;
					min-height : 450px;

					.img{
						display    : block;
						width      : 100%;
						max-height : 300px;
					}

					.title{
						font-size   : 18px;
						line-height : 28px;
					}

					.descr{
						line-height: 22px;
					}

					&.current{
						display: block;
					}
				}
			}
			>.footer{
				.g_line_02();
			}
		}

		>.news_class{
			width: 426px;
			float: right;

			>.header{
				background-image: url("@{img}HM1R_01.png");
				height: 28px;
				.item{
					.g_btn();
				}
			}
			>.body{
				background-image: url("@{img}HM1R_02.png");
				background-repeat: repeat;

				.list{
					display: none;
					padding: 0 20px;
					padding-top: 15px;

					&.current{
						display: block;
					}

					.link{
						display     : block;
						line-height : 27px;
						height      : 27px;
						width       : 395px;
						overflow    : hidden;

						&:hover{
							background-color: #462027;
						}
					}
				}
			}
			>.footer{
				background-image: url("@{img}HM1R_03.png");
				height: 28px;
			}
		}

		>.search{
			.g_search_form();
			text-align: center;
		}
	}

	>.body{
		// 焦點新聞六則
		.class_news_flow{
			.g_clear;
			margin-bottom: 50px;

			>.header{
				.g_hr();
				font-size    : 30px;
				color        : red;

				.hardware_AD{
					background-image: url("@{img}hardware_AD.png");
					float  : right;
					height : 52px;
					width  : 455px;
				}
			}
			>.body{
				.g_clear;

				// 每則焦點
				.item{
					float: left;
					>.img{
						float: left;
						.thumb {
							width: 200px;
							height: 150px;
						}
					}
					>.text{
						float: right;
						width: 280px;
						.title{
							font-size: 18px;
							padding: 5px;
							line-height: 22px;
						}
						.thumb{
							font-size: 12px;
							padding: 10px;
							padding-top: 5px;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}

}