.namespace_game_follower_index .float_art{width:300px;float:left;margin-right:20px;margin-bottom:35px;}
.namespace_game_follower_index .float_text{font-size:20px;}
.namespace_game_follower_index .img_show{text-align:center;font-size:16px;font-weight:bold;}
