.namespace_game .data_list {
  width: 200px;
  float: left;
  border-right: 0px solid #ffffff;
  min-height: 500px;
  box-shadow: 1px 0 2px black;
  background-image: url("/static/img/common/utils/sider_cen.jpg");
  background-repeat: repeat-y;
}
.namespace_game .data_list .data_list_search {
  width: 170px;
}
.namespace_game .data_list .data_title .title {
  background-image: url("/static/img/common/icon/18modifier_add.gif");
  background-position: 5px -3px;
  color: yellow;
  font-size: 18px;
  font-weight: bold;
  padding-left: 35px;
  text-align: left;
  line-height: 30px;
}
.namespace_game .data_list .data_title .data_hide .data_group {
  padding-left: 39px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}
.namespace_game .data_list .data_title .data_hide .data_link {
  display: block;
  padding-left: 45px;
  font-size: 100%;
}
.namespace_game .data_list .data_title:hover .title {
  background-image: url("/static/img/common/icon/18modifier_subtract.gif");
}
.namespace_game .data_list .data_title:hover .data_hide {
  display: block;
}
.namespace_game .content {
  width: 760px;
  float: left;
  min-height: 300px;
}
.namespace_game .content .each_page_content h2 {
  text-align: center;
  background-image: url("/static/img/common/layout/h2.jpg");
  background-repeat: no-repeat;
  height: 56px;
  line-height: 56px;
  padding-bottom: 12px;
  margin-top: 35px;
}
.namespace_game .content .each_page_content h3 {
  text-align: center;
  background-image: url("/static/img/common/layout/h3.jpg");
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  padding-bottom: 6px;
}
.namespace_game .content .each_page_content .quote {
  font-size: 24px;
  font-style: italic;
  color: #AD835A;
}
.namespace_game .content .each_page_content p {
  padding: 0 40px;
}
