/**
 * ?®å?é¡žåˆ¥
 */
.g_btn {
  background-image: url("../..//static/img/common/utils/mid-button.png");
  display: inline-block;
  line-height: 31px;
  height: 31px;
  width: 104px;
  background-position: 50% 50%;
  text-align: center;
  cursor: pointer;
}
.g_btn:hover {
  background-position: 0 -31px;
}
.g_btn.current,
.g_btn.active {
  background-position: 0 -62px;
}
.namespace_lives_channel .channel_border {
  background-image: url("/static/img/lives/channel/channel_border.png");
}
.namespace_lives_channel .channel_border .inner {
  *zoom: 1;
  display: block;
  padding-top: 76px;
  padding-left: 21px;
}
.namespace_lives_channel .channel_border .inner:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_lives_channel .channel_border .inner .channel {
  float: left;
  width: 585px;
  height: 500px;
}
.namespace_lives_channel .channel_border .inner .chatroom {
  float: left;
  width: 325px;
  margin-left: 13px;
  margin-top: 4px;
}
