@import '../../instance';
@img: '/static/img/event/girls_vote_2012/';

.namespace_event_2012_girls_vote{
	@common_font_color : #BB5C60;
	background-image   : url("@{img}moyou01l_s.jpg");
	background-repeat  : repeat;
	color              : @common_font_color;

	// topin
	.girls_topin{
		background-image : url("@{img}topin.png");
		height           : 131px;
	}

	// 女孩廣告橫幅
	.girls_banner{
		width            : 100%;
		height           : 400px;
		background-color : #150068;

		.item{
			display: none;

			&.current{
				display: block;
			}
		}
	}

	// 贊助商
	.girls_sponsor{
		img{
			height : 169px;
			width  : 100%;
		}
	}

	// 女孩投票日期進度
	.girls_vote_progress{
		.g_clear();
		background-image : url("@{img}girls_vote_progress.png");
		background-repeat: no-repeat;
		background-position: 10% 50%;
		padding: 0 20px;
		height: 142px;

		// 各系區塊
		.girl_vote_kind_date{}

		// 規則label
		.the_rule{
			background-image : url("@{img}rule.png");
			width            : 272px;
			height           : 83px;
			float            : right;
			margin-top       : 27px;
			margin-right     : 22px;
			cursor           : pointer;
		}
	}

	// 女孩們
	.girls_intro{
		.g_clear;

		.girl_div_top_border{
			background-image : url("@{img}girl_div_top_border.png");
			height           : 15px;
		}

		.girl_div_bottom_border{
			background-image : url("@{img}girl_div_bottom_border.png");
			height           : 15px;
		}

		// each女孩
		.girl_intro{
			width               : 319px;
			float               : left;
			
			.girl_div_inner{
				background-image    : url("@{img}girl_div_inner.png");
				background-repeat   : repeat;
				display             : block;
				background-position : 0 0;
				color               : #8A622F;
				font-size           : 14px;
				font-weight         : bold;
				padding             : 0 20px;

				// 女孩的照片 兩張
				.girl_photos{
					.g_clear();
					text-align: center;
					cursor: pointer;

					// 女孩照片
					.girl_photo{
						background-color : white;
						display          : inline-block;
						margin           : 0 15px;
						margin-top       : 20px;
						margin-bottom    : 20px;

						img{
							height           : 175px;
						}
					}
				}

				// 女孩個資
				.girl_personal{
					.g_clear();

					// 個資欄位
					.txt_row{
						float       : left;
						display     : inline-block;
						width       : 120px;
						margin-left : 14px;

						// label
						.descr{
							color     : @common_font_color;
							font-size : 12px;
						}
						// 內容
						.value{
							color     : @common_font_color + 50;
							font-size : 14px;
						}
					}

					// 詳細介紹
					.girl_intro_detail{
						color  : @common_font_color - 50;
						margin : 10px;
						height : 140px;
					}
				}

				// 得票數
				.girl_vote_amount{
					background-image    : url("@{img}current_votes.png");
					background-position : -20px 50%;
					float               : left;
					width               : 200px;
					height              : 71px;
					line-height         : 73px;
					color               : @common_font_color + 50;
					font-size           : 30px;
					text-align          : right;
				}

				// 我要投票 / more
				.girl_vote{
					background-image    : url("@{img}girl_detail_more.gif");
					background-position : 50% 50%;
					float               : right;
					height              : 65px;
					width               : 56px;
					cursor              : pointer;
				}

				// 女孩詳細資料(alt+7)
				.girl_detail_info{
					background-image    : url("@{img}fold_01.png");
					background-position : 50% 0;
					display             : none;
					position            : absolute;
					left                : 50%;
					width               : 683px;
					margin-left         : (-683) / 2px;
					min-height          : 50%;
					padding-top         : 56px;

					// 內框
					.inner_border{
						background-image  : url("@{img}fold_02.png");
						background-repeat : repeat-y;

						// 關閉
						.detail_close{
							background-image : url("@{img}x.png");
							width            : 25px;
							height           : 25px;
							float            : right;
							cursor           : pointer;
							margin-right     : 39px;

							&:hover{
								background-position: 1px -26px;
							}
						}

						// 照片集
						.detail_photos{
							.btn_left_click{
								position : absolute;
								top      : 260px;
								left     : 45px;
								z-index  : 100;
							}
							.btn_right_click{
								position : absolute;
								top      : 260px;
								right    : 45px;
								z-index  : 100;
							}

							.twinned{
								text-align : center;
								display    : none;

								&.first{
									display: block;
								}

								a{
									display    : inline-block;
									max-width  : 600px;
									max-height : 400px;

									.label{
										font-size: 20px;
										color: black;
									}

									img{
										max-width  : 600px;
										height    : 400px;
									}

									&:hover{
										position : relative;
										top      : 1px;
										left     : 1px;
									}
								}
							}
						}

						// 女孩資訊圖
						.detail_info{
							&>.inner{
								.g_clear();

								.info{
									float       : left;
									width       : 250px;

									// 女孩個資
									&>.girl_personal{
										display     : block;
										margin-left : 40px;
										margin-top  : 20px;

										// 個資欄位
										.txt_row{
											float       : none;
											display     : block;
											width       : 100%;
											margin-left : 12px;
											line-height : 30px;

											// label
											.descr{
												font-size : 18px;
											}
											// 內容
											.value{
												font-size : 18px;
											}
										}

										// 詳細介紹
										.girl_intro_detail{
											color  : black;
											margin : 10px;
										}
									}
								}

								// 投票總計(長條圖)
								.vote_amount{
									float            : right;
									width            : 400px;
									margin-right     : 25px;

									.kind_polls{
										margin: 28px 0;

										.progress{
											width         : 300px;
											display       : inline-block;
											margin        : 0px;
											margin-bottom : -4px;
										}
										.progress .bar{
											background-image: none;
											background-color: @common_font_color + 50;
										}
									}
								}
							}
						}

						// 影片
						.detail_video{
							.g_clear();
						}

						// 自我介紹
						.detail_intro{
							padding   : 10px 90px;
							font-size : 14px;
							line-height: 22px;

							.label{
								font-size     : 24px;
								text-shadow   : 1px 1px 0 black;
								line-height   : 24px;
								margin-bottom : 5px;
							}
						}

						// 投票
						.vote_it{
							text-align : center;
						}
					}

					// 下半部框
					.bottom_border{
						background-image : url("@{img}fold_03.png");
						height           : 178px;
					}
				}
			}
		}

	}
}
// 