/**
 * ?®å?é¡žåˆ¥
 */
.g_line_02 {
  background-image: url("/static/img/common/layout/line_02.png");
  background-position: 0 50%;
  height: 19px;
}
.g_h2_01 {
  text-align: center;
  background-image: url("/static/img/common/layout/h2.jpg");
  background-repeat: no-repeat;
  height: 56px;
  line-height: 56px;
  padding-bottom: 12px;
  margin-top: 35px;
}
.g_h3_01 {
  text-align: center;
  background-image: url("/static/img/common/layout/h3.jpg");
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  padding-bottom: 6px;
}
.namespace_event_2012_girls_vote {
  background-image: url("/static/img/event/girls_vote_2012/moyou01l_s.jpg");
  background-repeat: repeat;
  color: #bb5c60;
}
.namespace_event_2012_girls_vote .girls_topin {
  background-image: url("/static/img/event/girls_vote_2012/topin.png");
  height: 131px;
}
.namespace_event_2012_girls_vote .girls_banner {
  width: 100%;
  height: 400px;
  background-color: #150068;
}
.namespace_event_2012_girls_vote .girls_banner .item {
  display: none;
}
.namespace_event_2012_girls_vote .girls_banner .item.current {
  display: block;
}
.namespace_event_2012_girls_vote .girls_sponsor img {
  height: 169px;
  width: 100%;
}
.namespace_event_2012_girls_vote .girls_vote_info {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.namespace_event_2012_girls_vote .girls_vote_progress {
  *zoom: 1;
  display: block;
  background-image: url("/static/img/event/girls_vote_2012/girls_vote_progress.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  padding: 0 20px;
  height: 142px;
}
.namespace_event_2012_girls_vote .girls_vote_progress:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_vote_progress .the_rule {
  background-image: url("/static/img/event/girls_vote_2012/rule.png");
  width: 272px;
  height: 83px;
  float: right;
  margin-top: 27px;
  margin-right: 22px;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_page_nav {
  display: block;
  margin: 0 auto;
  width: 88px;
}
.namespace_event_2012_girls_vote .girls_intro {
  *zoom: 1;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_div_top_border {
  background-image: url("/static/img/event/girls_vote_2012/girl_div_top_border.png");
  height: 15px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_div_bottom_border {
  background-image: url("/static/img/event/girls_vote_2012/girl_div_bottom_border.png");
  height: 15px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro {
  width: 319px;
  float: left;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner {
  background-image: url("/static/img/event/girls_vote_2012/girl_div_inner.png");
  background-repeat: repeat;
  display: block;
  background-position: 0 0;
  color: #8A622F;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_photos {
  *zoom: 1;
  display: block;
  text-align: center;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_photos:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_photos .girl_photo {
  background-color: white;
  display: inline-block;
  margin: 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_photos .girl_photo img {
  height: 175px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal {
  *zoom: 1;
  display: block;
  min-height: 75px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal .txt_row {
  float: left;
  display: inline-block;
  width: 120px;
  margin-left: 14px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal .txt_row .descr {
  color: #bb5c60;
  font-size: 12px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal .txt_row .value {
  color: #ed8e92;
  font-size: 14px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_personal .girl_intro_detail {
  color: #892a2e;
  margin: 10px;
  margin-bottom: 3px;
  height: 142px;
  overflow: hidden;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_vote_amount {
  background-image: url("/static/img/event/girls_vote_2012/current_votes.png");
  background-position: -20px 50%;
  float: left;
  width: 200px;
  height: 71px;
  line-height: 73px;
  color: #ed8e92;
  font-size: 30px;
  text-align: right;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_vote {
  background-image: url("/static/img/event/girls_vote_2012/girl_detail_more.gif");
  background-position: 50% 50%;
  float: right;
  height: 65px;
  width: 56px;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info {
  background-image: url("/static/img/event/girls_vote_2012/fold_01.png");
  background-position: 50% 0;
  display: none;
  position: absolute;
  left: 50%;
  width: 683px;
  margin-left: -341.5px;
  min-height: 50%;
  padding-top: 56px;
  z-index: 3;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border {
  background-image: url("/static/img/event/girls_vote_2012/fold_02.png");
  background-repeat: repeat-y;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_close {
  background-image: url("/static/img/event/girls_vote_2012/x.png");
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  margin-right: 39px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_close:hover {
  background-position: 1px -26px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .btn_left_click {
  position: absolute;
  top: 300px;
  left: 45px;
  z-index: 100;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .btn_right_click {
  position: absolute;
  top: 300px;
  right: 45px;
  z-index: 100;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned {
  text-align: center;
  display: none;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned.first {
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned a {
  display: inline-block;
  max-width: 600px;
  max-height: 400px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned a .label {
  font-size: 20px;
  color: black;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned a img {
  max-width: 600px;
  height: 400px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_photos .twinned a:hover {
  position: relative;
  top: 1px;
  left: 1px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner {
  *zoom: 1;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info {
  float: left;
  width: 250px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info > .girl_personal {
  display: block;
  margin-left: 40px;
  margin-top: 20px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info > .girl_personal .txt_row {
  float: none;
  display: block;
  width: 100%;
  margin-left: 12px;
  line-height: 30px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info > .girl_personal .txt_row .descr {
  font-size: 18px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info > .girl_personal .txt_row .value {
  font-size: 18px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .info > .girl_personal .girl_intro_detail {
  color: black;
  margin: 10px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .vote_amount {
  float: right;
  width: 400px;
  margin-right: 25px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .vote_amount .kind_polls {
  margin: 28px 0;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .vote_amount .kind_polls .progress {
  width: 300px;
  display: inline-block;
  margin: 0px;
  margin-bottom: -4px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_info > .inner .vote_amount .kind_polls .progress .bar {
  background-image: none;
  background-color: #ed8e92;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_video {
  *zoom: 1;
  display: block;
  text-align: center;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_video:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_intro {
  padding: 10px 90px;
  font-size: 14px;
  line-height: 22px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .detail_intro .label {
  font-size: 24px;
  text-shadow: 1px 1px 0 black;
  line-height: 24px;
  margin-bottom: 5px;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .inner_border .vote_it {
  text-align: center;
  cursor: pointer;
}
.namespace_event_2012_girls_vote .girls_intro .girl_intro .girl_div_inner .girl_detail_info .bottom_border {
  background-image: url("/static/img/event/girls_vote_2012/fold_03.png");
  height: 178px;
}
