.index-root {
  position: relative;
}
.index-root .index-intro {
  background-image: url("/static/img/event/amd_cup_2012/AMD-index_fin.png");
  width: 100%;
  height: 770px;
}
.index-root .index-intro .index-rule_btn {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 200px;
  top: 533px;
  left: 674px;
  cursor: pointer;
}
.index-root .index-popup {
  display: block;
  position: absolute;
  top: 83px;
  width: 620px;
  height: 366px;
  left: 50%;
  margin-left: -312px;
  background-color: black;
  padding: 5px;
}
.index-root .index-popup th,
.index-root .index-popup td {
  font-size: 12px;
}
