/**
 * ?®å?é¡žåˆ¥
 */
.g_line_01 {
  background-image: url("/static/img/common/layout/line_01.png");
  background-position: 0 50%;
  height: 19px;
}
.g_line_02 {
  background-image: url("/static/img/common/layout/line_02.png");
  background-position: 0 50%;
  height: 19px;
}
.g_h2_01 {
  text-align: center;
  background-image: url("/static/img/common/layout/h2.jpg");
  background-repeat: no-repeat;
  height: 56px;
  line-height: 56px;
  padding-bottom: 12px;
  margin-top: 35px;
}
.g_h3_01 {
  text-align: center;
  background-image: url("/static/img/common/layout/h3.jpg");
  background-repeat: no-repeat;
  height: 40px;
  line-height: 40px;
  padding-bottom: 6px;
}
.diy {
  padding-bottom: 0!important;
}
.namespace_event_amd {
  background-image: url("/static/img/event/amd_cup_2012/bg2.jpg");
  background-repeat: repeat-y;
  min-height: 300px;
}
.namespace_event_amd .amd-btn {
  background-image: url("/static/img/event/amd_cup_2012/AMD_button.png");
  background-position: 0 -90px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 192px;
  font-size: 18px;
  float: left;
  text-align: center;
}
.namespace_event_amd .amd-btn:hover {
  background-position: 0 -45px;
}
.namespace_event_amd .amd-btn:active,
.namespace_event_amd .amd-btn.active {
  background-position: 0 0px;
}
.namespace_event_amd .amd-btn2 {
  background-image: url("/static/img/event/amd_cup_2012/AMD_slave_button.png");
  display: inline-block;
  width: 192px;
  height: 43px;
  line-height: 43px;
  background-position: 0 0;
  color: black;
  font-size: 18px;
  text-align: center;
}
.namespace_event_amd .amd-btn2:hover {
  background-position: 0 -43px;
  color: #300c00;
}
.namespace_event_amd .amd-b1-btn {
  background-image: url("/static/img/event/amd_cup_2012/B1_button.png");
  display: inline-block;
  width: 201px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
}
.namespace_event_amd .amd-banner {
  height: 400px;
}
.namespace_event_amd .amd-page {
  padding-bottom: 20px;
}
.namespace_event_amd .amd-page .index-root {
  position: relative;
}
.namespace_event_amd .amd-page .index-root .index-intro {
  background-image: url("/static/img/event/amd_cup_2012/AMD-index_fin.png");
  width: 100%;
  height: 770px;
}
.namespace_event_amd .amd-page .index-root .index-intro .index-rule_btn {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 200px;
  top: 533px;
  left: 674px;
  cursor: pointer;
}
.namespace_event_amd .amd-page .index-root .index-popup {
  display: block;
  position: absolute;
  top: 83px;
  width: 620px;
  height: 366px;
  left: 50%;
  margin-left: -312px;
  background-color: black;
  padding: 5px;
}
.namespace_event_amd .amd-page .index-root .index-popup th,
.namespace_event_amd .amd-page .index-root .index-popup td {
  font-size: 12px;
}
.namespace_event_amd .amd-page .live-root .live-live_channel_border {
  background-image: url("/static/img/event/amd_cup_2012/live_border.png");
  width: 100%;
  height: 500px;
}
.namespace_event_amd .amd-page .live-root .live-live_channel_border .padding {
  padding-top: 42px;
  padding-left: 88px;
}
.namespace_event_amd .amd-page .vote-root .vote-heading {
  height: 100px;
  line-height: 100px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item {
  background-position: 50% 77px;
  float: left;
  width: 274px;
  padding: 0 23px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-bgimg {
  background-image: url("/static/img/event/amd_cup_2012/AMD_border.png");
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-name {
  height: 80px;
  line-height: 90px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-photo {
  height: 260px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-him {
  cursor: pointer;
  margin-top: 10px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-person_intro .total_vote {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-person_intro .total_vote .title {
  color: orange;
  font-size: 18px;
}
.namespace_event_amd .amd-page .vote-root .vote-section .player-item .vote-person_intro .title {
  color: #3799ff;
  font-weight: bold;
  font-size: 14px;
}
.namespace_event_amd .amd-page .news-root .news-bg_img {
  background-image: url("/static/img/event/amd_cup_2012/live_border.png");
  width: 100%;
  height: 500px;
}
.namespace_event_amd .amd-page .news-root .news-bg_img .padding {
  padding-top: 50px;
  padding-left: 100px;
}
.namespace_event_amd .amd-page .vod-root .vod-menu {
  width: 192px;
  float: right;
}
.namespace_event_amd .amd-page .vod-root .vod-heading {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.namespace_event_amd .amd-page .vod-root .vod-vodplayer h3 {
  padding: 30px 0;
}
.namespace_event_amd .amd-page .vod-root .vod-vodplayer .vod-youtube-iframe {
  width: 700px;
  height: 367px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item {
  background-position: 50% 77px;
  float: left;
  width: 274px;
  padding: 0 23px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-bgimg {
  background-image: url("/static/img/event/amd_cup_2012/AMD_border.png");
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-name {
  height: 80px;
  line-height: 90px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-photo {
  height: 260px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-him {
  cursor: pointer;
  margin-top: 10px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-person_intro .total_vote {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-person_intro .total_vote .title {
  color: orange;
  font-size: 18px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains .player-item .vote-person_intro .title {
  color: #3799ff;
  font-weight: bold;
  font-size: 14px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains h3 {
  padding-left: 160px;
}
.namespace_event_amd .amd-page .vod-root .vod-captains iframe {
  width: 560px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
.namespace_event_amd .amd-page .lucky_user .week .padding {
  padding: 10px;
}
.namespace_event_amd .amd-page .lucky_user .week:hover {
  background-color: #4D1D1D;
}
