.vod-root{
	.vod-menu{
		width: 192px;
		float: right;
	}
	.vod-heading{
		height      : 100px;
		line-height : 100px;
		text-align  : center;
	}
	.vod-vodplayer{
		.vod-youtube-iframe{
			width  : 700px;
			height : 367px;
		}
	}

	.vod-captains{
		@import 'vote/captains';
	}
}