.vod-root .vod-menu {
  width: 192px;
  float: right;
}
.vod-root .vod-heading {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.vod-root .vod-vodplayer h3 {
  padding: 30px 0;
}
.vod-root .vod-vodplayer .vod-youtube-iframe {
  width: 700px;
  height: 367px;
}
.vod-root .vod-captains .player-item {
  background-position: 50% 77px;
  float: left;
  width: 274px;
  padding: 0 23px;
}
.vod-root .vod-captains .player-item .vote-bgimg {
  background-image: url("/static/img/event/amd_cup_2012/AMD_border.png");
}
.vod-root .vod-captains .player-item .vote-name {
  height: 80px;
  line-height: 90px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.vod-root .vod-captains .player-item .vote-photo {
  height: 260px;
}
.vod-root .vod-captains .player-item .vote-him {
  cursor: pointer;
  margin-top: 10px;
}
.vod-root .vod-captains .player-item .vote-person_intro .total_vote {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.vod-root .vod-captains .player-item .vote-person_intro .total_vote .title {
  color: orange;
  font-size: 18px;
}
.vod-root .vod-captains .player-item .vote-person_intro .title {
  color: #3799ff;
  font-weight: bold;
  font-size: 14px;
}
.vod-root .vod-captains h3 {
  padding-left: 160px;
}
.vod-root .vod-captains iframe {
  width: 560px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
