@import '../../instance';
@img: '/static/img/event/girls_vote_2012/';

.namespace_msi_game_2012{
	>.msi_banner{
	}
	>.msi_nav{
		.g_clear();
		a{
			float: left;
			width: 107px;
		}
	}
	>.msi_main{
	}
}