@import '../../instance';
@img: '/static/img/event/girls_vote_2012/';

.namespace_msi_game_2012{&>{
	.msi_banner{
		background-color : #11114E;
	}
	.msi_nav{
		.g_clear();
		a{
			float: left;
			width: 90px;
		}
	}
	.msi_main{
		background-color : #575715;
		min-height       : 500px;
	}
}}